#main-heading {
	background: #DB7093;
}

#gold-heading {
	background: #B8860B;
}

#silver-heading {
	background: #C0C0C0;
}

#bronze-heading {
	background: #CD7F32;
}

#game-heading {
	background: #2E8B57;
}

#partner-heading {
	background: #483D8B;
}

#media-heading {
	background: #87CEFA;
}